body {
  background-image: url("https://i.pinimg.com/originals/80/60/19/806019a3a8938244e6ba3bbc745178dd.gif");
  font-weight: bold;
}

h1 {
  color: white;
}

small {
  color: #2213ec;
  font-weight: bold;
  font-size: small;
}

a {
  text-decoration: none;
  color: #006fff;
}

.first-description {
  color: white;
  font-size: large;
}

.second-description {
  color: white;
  font-size: large;
}
strong {
  color: #006fff;
  font-weight: bold;
  font-size: large;
}

em {
  color: #2213ec;
  font-size: 60px;
}

img {
  position: relative;
  top: -25px;
  width: 40%;
}

.weather-app {
  border: 1px solid #dadde1;
  padding: 20px;
  margin: 32px auto;
  border-radius: 10px;
  max-width: 600px;
  padding-top: 40px;
}

.logo {
  width: 80px;
  position: relative;
  top: -35px;
}

.units {
  color: #2213ec;
  font-size: x-large;
  position: relative;
  top: -45px;
}

.description-container {
  color: #2213ec;
  font-size: large;
}

footer {
  border-top: 1px solid white;
  text-align: center;
  padding-top: 15px;

  color: white;
}
