body {
  background-image: url("https://i.pinimg.com/originals/80/60/19/806019a3a8938244e6ba3bbc745178dd.gif");
  font-weight: bold;
}

h1 {
  color: white;
}

small {
  color: #2213ec;
  font-weight: bold;
  font-size: small;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  color: white;
  font-size: medium;
}

strong {
  color: #006fff;
  font-weight: bold;
  font-size: medium;
}

em {
  color: #2213ec;
  font-size: 45px;
}

img {
  position: relative;
  top: -15px;
  width: 35%;
}

.weather-app {
  border: 1px solid #dadde1;
  padding: 20px;
  margin: 32px auto;
  border-radius: 10px;
  max-width: 500px;
}

.cities {
  color: #2213ec;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.units {
  color: #2213ec;
  position: relative;
  top: -35px;
  font-size: medium;
}

.description-container {
  color: #2213ec;
  font-size: medium;
}

.weather-focast {
  color: #2213ec;
  display: flex;
  justify-content: space-around;
}

footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 15px;

  color: black;
}
