h1 {
  color: black;
  font-weight: normal;
}

small {
  color: #00000083;
  font-weight: bold;
  font-size: small;
}

em {
  color: black;
  font-size: 47px;
  font-weight: 600;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  color: #000000a6;
  font-size: 17px;
}

.weather-app {
  border: 1px solid #dadde1;
  padding: 20px;
  margin: 32px auto;
  border-radius: 10px;
  max-width: 500px;
}

.cities {
  color: #006fff;
  font-size: 26px;
  display: flex;
  justify-content: space-between;
}

.emoji {
  font-size: 40px;
}

.units {
  position: relative;
  top: -35px;
  font-size: smaller;
}

.day {
  color: #00000083;
  font-weight: bold;
  font-size: large;
}

.description {
  color: #00000083;
  font-weight: bold;
  font-size: large;
}

.weather-focast {
  display: flex;
  justify-content: space-around;
}

footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 15px;

  color: rgba(39, 33, 66, 0.4);
}
